<section class="container medium pagePadding">
    <header>
        <h2 id="hind">Kasutajapõhises paketis sisalduvad teenused</h2>
        <p>SAP Business ByDesign üks kasutajapõhine kuutasu sisaldab kõike ERP lahenduse kasutamiseks vajaminevat:</p>
    </header>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12 col-12-narrower">
                <ul>
                    <li>
                        <h3>
                            Infrastruktuur
                        </h3>
                        <p>Kogu vajalik serveririistvara lahenduse kasutamiseks</p>
                    </li>

                    <li>
                        <h3>
                            Varundus
                        </h3>
                        <p>Varukoopiate automaatne loomine ja hoidmine</p>
                    </li>

                    <li>
                        <h3>
                            Süsteemi taastamine
                        </h3>
                        <p>Vajadusel süsteemi taastamine varukoopiatest</p>
                    </li>

                    <li>
                        <h3>
                            Võrgu haldamine
                        </h3>
                        <p>Turvalise võrguühenduse haldus</p>
                    </li>

                    <li>
                        <h3>
                            Funktsionaalsuste ning tehnoloogia uuendused 4x aastas
                        </h3>
                        <p>Lahendus, mis on alati kõige uuem. Iga kolme kuu tagant uueneb SAP Business ByDesign, nii funktsionaalsuselt
                            kui ka tehnoloogiaplatvormilt</p>
                    </li>

                    <li>
                        <h3>
                            Piiramatu andmesalvestusmaht pilves

                        </h3>
                        <p>Kõik ettevõtte jaoks vajalikud dokumendid on turvaliselt SAP pilvehoidlas</p>
                    </li>
                    <li>
                        <h3>
                            Hooldus ja toeteenus

                        </h3>
                        <p>24×7 globaalne tugi</p>
                    </li>
                    <li>
                        <h3>
                            Mitme ettevõtte, riigi ja valuuta tugi
                        </h3>
                        <p>Võimalik on kasutajatel korraga tarkvara rakendada mitmes ettevõttes, riigis ja erinevas valuutas
                        </p>
                    </li>


                </ul>

            </div>

        </div>
    </div>

</section>

<section class="container medium pagePadding">
    <header>
        <h2>Kui palju SAP Business ByDesign maksab?</h2>
        <p>SAP Business ByDesign on hinnastatud kuupõhise tasuga, mis lähtub kasutajate arvust ja valitud kasutaja tüübist.
            Pange kokku enda ettevõttele sobiv pakett allolevatest kasutajatest.</p>
    </header>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-4 col-12-narrower">

                <i class="fa fontawesome-icon fa-user-o circle-yes" style="border-color:#1a80b6;background-color:#f5f5f5;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#1a80b6;"></i>
                <h2>Iseteeninduskasutaja</h2>
                <p>Kasutajale on kättesaadav enda tööaja ja kulude raporteerimine, töövahendite tellimine, endaga seotud
                    lähetuste haldamine ja teised iseteeninduse võimalused.</p>
                <a href="http://www.sap.com/estonia/documents/2015/05/861e3ce2-247c-0010-82c7-eda71af511fa.html" class="button alt hind">HIND:
                    15 | 22 EUR</a>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-user circle-yes" style="border-color:#1a80b6;background-color:#f5f5f5;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#1a80b6;"></i>
                <h2>Meeskonnakasutaja</h2>
                <p>Meeskonnakasutaja on eeskätt kliendihalduse ja projektijuhtimise valdkonna töökoht. See hõlmab nii meeskonna
                    liikmeid kui juhte.</p>
                <a href="http://www.sap.com/estonia/documents/2015/05/861e3ce2-247c-0010-82c7-eda71af511fa.html" class="button alt hind">HIND:
                    79 EUR</a>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-user-plus circle-yes" style="border-color:#ffffff;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Ärikasutaja</h2>
                <p>Enamasti ärikasutaja on kontoritöötaja nagu raamatupidaja, planeerijad, müügi- või tootmisjuhid. Ärikasutaja
                    roll võimaldab hallata kõiki funktsionaalseid valdkondi.</p>
                <a href="http://www.sap.com/estonia/documents/2015/05/861e3ce2-247c-0010-82c7-eda71af511fa.html" class="button alt hind">HIND:
                    139 | 179 EUR</a>
            </div>
        </div>
    </div>


</section>

<section class="container medium pagePadding">
    <header>
        <h2 id="funktsionaalsus">SAP Business ByDesign põhifunktsioonid</h2>
        <p>SAP Business ByDesign võimaldab hallata kõiki ettevõtte äriprotesse terviklikult ühes pilveteenuspõhises majandustarkvaras.</p>
    </header>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-4 col-12-narrower">

                <i class="fa fontawesome-icon fa-industry circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Tootmine ja logistika</h2>
                <p>Täiusta tootmist ja tarneahela efektiivsust parema pakkumise-nõudluse sobitamisega. Sisaldab planeerimist,
                    transporti, tarnijate suhete haldust, laiendatud laohaldust.</p>
                <a href="http://go.sap.com/assetdetail/2016/07/c0db3c14-7d7c-0010-82c7-eda71af511fa.html" class="button alt hind">VAATA
                    LÄHEMALT
                </a>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-sitemap circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Projektijuhtimine</h2>
                <p>Halda erinevate suuruste ja keerukustega projekte reaalajas koos meeskonnaga.</p>
                <a href="http://go.sap.com/assetdetail/2016/08/429de112-877c-0010-82c7-eda71af511fa.html" class="button alt hind">VAATA
                    LÄHEMALT
                </a>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-shopping-cart circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Kliendisuhete haldus</h2>
                <p>Tõhus müügitööriist, mis sisaldab turunduse automatiseerimist, kampaaniate haldust, teenuste monitooringut.
                    Müügiinimesed saavad luua pakkumisi, jälgida klientide krediidi staatust, vaadata toodete saadavust,
                    soovitada lisamüüki jm</p>
                <a href="http://go.sap.com/assetdetail/2016/07/dc57c313-7d7c-0010-82c7-eda71af511fa.html" class="button alt hind">VAATA
                    LÄHEMALT
                </a>
            </div>
            <div class="col-4 col-12-narrower">

                <i class="fa fontawesome-icon fa-user-plus circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Personalihaldus</h2>
                <p>Põhilised personalihalduse funktsioonid nagu näiteks töölevõtmine, kohaleku ja aja kontrollimine. Võimaldab
                    töötajatel ise oma tööaega ning tulemusi täita ja kontrollida, registreerida taotlusi jm</p>
                <a href="http://go.sap.com/assetdetail/2016/07/dc57c313-7d7c-0010-82c7-eda71af511fa.html" class="button alt hind">VAATA
                    LÄHEMALT
                </a>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-line-chart circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Analüütika</h2>
                <p>Analüütikamoodul, mis põhineb SAP HANA platvormil, annab tervikliku ülevaate kõigist ettevõtte protsessidest
                    reaalajas. Kasutajad saavad vaadata rollipõhiseid raporteid, võimalus integreerida Exceliga.</p>
                <a href="http://go.sap.com/assetdetail/2016/07/dc57c313-7d7c-0010-82c7-eda71af511fa.html" class="button alt hind">VAATA
                    LÄHEMALT
                </a>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-money circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Finantsarvestus ja kontrolling</h2>
                <p>SAP ByDesign võimaldab pidada arvestust üle kõigi kontserni tütarettevõtete ning pidada arvestust vajadusel
                    paralleelselt mitme kontoplaaniga. Arved, maksmata arved, põhivarad ning mistahes reskontrokanded jooksevad
                    kõik kokku pearaamatusse.</p>
                <a href="http://go.sap.com/assetdetail/2016/07/dc57c313-7d7c-0010-82c7-eda71af511fa.html" class="button alt hind">VAATA
                    LÄHEMALT
                </a>
            </div>
        </div>
    </div>


</section>

<section class="container medium pagePadding">
    <header>
        <h2>Miks eelistada SAP Business ByDesign lahendust?</h2>
    </header>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-4 col-12-narrower">

                <i class="fa fontawesome-icon fa-cube circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Lihtne kasutada</h2>
                <ul>
                    <li>
                        Rollipõhine kasutajakogemus
                    </li>
                    <li>
                        Konfigureeritavad äriprotsessid
                    </li>
                    <li>
                        Graafiline veebipõhine kasutajaliides
                    </li>
                    <li>
                        Liidestub erinevate väliste rakendustega </li>
                    <li>
                        Ühilduvus mobiilsete seadmetega
                    </li>
                </ul>

            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-info-circle circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Ülevaatlik</h2>
                <ul>
                    <li>
                        Terviklik vaade üle kõikide moodulite
                    </li>
                    <li>
                        Reaalajas informatsioon
                    </li>
                    <li>
                        Kohene ühilduvus Exceliga
                    </li>
                    <li>
                        Palju sisseehitatud analüüse ja raporteid </li>

                </ul>

            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-window-restore circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Kohandatav</h2>
                <ul>
                    <li>
                        Kohalda oma äri tegevused ning organisatsiooni struktuur kiiresti ja mugavalt </li>
                    <li>
                        Äriprotsesside muudatused on võimalik töö käigus seadistada ning kohe igapäevaselt rakendada
                    </li>
                    <li>
                        Võimalik muuta ja juurde lisada äriprotsesse ning kohandada rollipõhiseid vaateid
                    </li>


                </ul>
            </div>
            <div class="col-4 col-12-narrower">

                <i class="fa fontawesome-icon fa-shield circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Turvaline</h2>
                <ul>
                    <li>
                        Rollipõhised kasutajaõigused
                    </li>
                    <li>
                        Single-Sign-On
                    </li>
                    <li>
                        Multi-tenant arhitektuur

                    </li>
                    <li>
                        Kasutajate tegevuste logid

                    </li>
                    <li>
                        Serverid on hallatud Saksamaal SAP’i poolt

                    </li>


                </ul>
            </div>
            <div class="col-4 col-12-narrower">
                <i class="fa fontawesome-icon fa-arrows circle-yes" style="border-color:#1a80b6;background-color:#1a80b6;font-size:31.68px;line-height:63.36px;height:63.36px;width:63.36px;margin-left:0;margin-right:0;color:#ffffff;"></i>
                <h2>Laiendatav</h2>
                <ul>
                    <li>
                        Kohe kasutusvalmis äriprotsessid, mis lasevad alustada lihtsalt ning äri vajadustega koos kasvada
                    </li>
                    <li>
                        Täielik valmidus, et hallata äri kõikjal maailmas, kuhu soovite laieneda </li>
                    <li>
                        Tõestatud laiendatavus 10st kasutajast 10 tuhande kasutajaga süsteemideni

                    </li>

                </ul>

            </div>

        </div>
    </div>


</section>

<section class="container medium pagePadding">
    <header id="juurutus">
        <h2>ByDesign starter pakett – kiire algus oma äri haldamiseks pilvepõhiselt</h2>
        <p>Rakenda terviklik ERP lahendus kiiresti ja lase see konfigureerida oma ettevõtte ärivajadusi silmas pidades meie
            spetsialistide poolt</p>
    </header>

    <div class="box alt">
        <p>Vali Business ByDesign starter paketti oma äri jaoks kõige olulisemad protsessid. Tarkvara seadistamine, andmete
            alglaadimine ja koolitus toimub meie poolt ühtse fikseeritud paketina kokkulepitud ajal. ByDesign starter pakett
            on sobiv lahendus ettevõttele, kes soovib alustada kiiresti ja fikseeritud tarkvara kasutusele võtmise kuluga.</p>
    </div>
    <a href="/kontakt" class="button alt hind">KÜSI PAKKUMIST
    </a>
    <h2>Soovite proovida SAP’i?</h2>
    <p>Tarkvara TASUTA proovimiseks jätke oma kontaktid allolevale vormile ja edastame Teile 14-päevase ligipääsu SAP Business
        ByDesign pilvekeskkonda</p>
    <form action="https://formspree.io/info@msbs.ee" method="POST">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-8 col-12-mobilep">
                <textarea name="name" placeholder="Kommentaar"></textarea>
            </div>
            <div class="col-8 col-12-mobilep">
                <input type="email" name="_replyto" id="email" placeholder="E-mail" />
                <input type="hidden" name="_cc" value="villem@msbs.ee" />
            </div>
            <div class="col-4 col-12-mobilep">
                <input type="submit" value="Soovin SAP'i proovida" class="fit" />
            </div>
        </div>
    </form>

</section>