<!-- Banner -->
<section id="banner">
    <h2>SAP pilvepõhine äritarkvara</h2>
    <p>Müüme ja juurutame SAP'i pilvepõhiseid äritarkvarasid</p>
    <ul class="actions special">
        <li>
            <a href="#byd" class="button primary">Cloud ERP</a>
        </li>
        <li>
            <a href="#" class="button">Teised tooted</a>
        </li>
    </ul>
</section>

<!-- Main -->
<section id="main" class="container">

    <section class="box special">
        <header class="major">
            <h2 id="byd">Cloud ERP</h2>
            <p>SAP Business ByDesign on 100% pilvepõhine tervik ärilahendus, mis hõlmab ühes kuutasus SAP majandustarkvara,
                
                pilves paiknevat tipptasemel infrastrukuuri ja lahenduse kasutamiseks vajalikke teenuseid.</p>
        </header>
        <span class="image featured">
            <img src="images/SAP_Business_ByDesign.jpg" alt="" />
        </span>
    </section>

    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon major fa-credit-card accent2"></span>
                <h3>Kuumaksupõhine litsents</h3>
                <p>Alates 5 kasutajat. Miinimum kuutasu alates 1000 eurot kuus. Loe
                    <a href="/clouderp#hind">lähemalt </a> hinnastamise kohta</p>
            </section>
            <section>
                <span class="icon major fa-cloud accent4"></span>
                <h3>ERP mis katab kogu Teie ettevõtte vajaduse</h3>
                <p>50+ sisseehitatud äriprotsessi. Kohandatav. Parimad SAPi praktikad. Loe
                    <a href="/clouderp#funktsionaalsus">lähemalt</a>
                </p>
            </section>

        </div>
        <div class="features-row">
            <section>
                <span class="icon major fa-fast-forward accent3"></span>
                <h3>Kiire juurutus</h3>
                <p>Tarkvara kasutuselevõtt alates 8. nädalast. Juurutage ise või telli teenus meilt. Loe
                    <a href="/clouderp#juurutus">lähemalt</a>
                </p>
            </section>
            <section>
                <span class="icon major fa-phone accent5"></span>
                <h3>Tugi -ja arendusteenused</h3>
                <p>Pakume tugiteenust igapäevaseks tarkvara kasutamiseks ning ka arendusteenust tarkvara funktsionaalsuse laiendamiseks.
            </section>
        </div>
    </section>

    <div class="row">
        <div class="col-6 col-12-narrower">

            <section class="box special">
                <h3>Meist</h3>
                <p>Oleme tegutsenud SAPi toodete edasimüüja ja juurutajana alates 2002. aastast. </p>
                <ul class="actions special">
                    <li>
                        <a href="/meist" class="button alt">Vaata lähemalt</a>
                    </li>
                </ul>
            </section>

        </div>
        <div class="col-6 col-12-narrower">

            <section class="box special">
                <h3>Teised tooted</h3>
                <p>Pakume ka teisi SAP'i tooteid. SAP Cloud Analytics, SAP HANA</p>
                <ul class="actions special">
                    <li>
                        <a href="#" class="button alt">Vaata lähemalt</a>
                    </li>
                </ul>
            </section>

        </div>
    </div>

</section>

<!-- CTA -->
<section id="cta">

    <h2>Soovite saada rohkem informatsiooni SAP Cloud ERP kohta?</h2>
    <p>Jätke oma kontakt ja Teiega võetakse ühendust</p>

    <form action="https://formspree.io/info@msbs.ee"
      method="POST">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-8 col-12-mobilep">
                <textarea name="name" placeholder="Teie küsimus" ></textarea>
            </div>
             <div class="col-8 col-12-mobilep">
                <input type="email" name="_replyto" id="email" placeholder="E-mail" />
                <input type="hidden" name="_cc" value="villem@msbs.ee" />
            </div>
            <div class="col-4 col-12-mobilep">
                <input type="submit" value="Saada" class="fit" />
            </div>
        </div>
    </form>

</section>