<section class="container medium pagePadding">
    <header>
        <h2>Meie kontaktid</h2>

        <div class="box alt">
            <div class="row gtr-50 gtr-uniform">
                <div class="col-6 col-12-narrower">

                    <p>MS Ärisüsteemid OÜ</p>
                    <p>Lõõtsa 2, Ülemiste City</p>
                    <p>Tallinn 11415</p>
                    <p>T +372 6150 085</p>
                </div>
                <div class="col-6 col-12-narrower">
                    <p>M +372 528 1993</p>
                    <p>E info@msbs.ee</p>
                    <p>KMKR EE100528725</p>
                    <p>Regnr 10538261</p>

                </div>

            </div>
        </div>
    </header>
    <div class="box">
       <form action="https://formspree.io/info@msbs.ee"
      method="POST">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-8 col-12-mobilep">
                <textarea name="name" placeholder="Teie küsimus" ></textarea>
            </div>
             <div class="col-8 col-12-mobilep">
                <input type="email" name="_replyto" id="email" placeholder="E-mail" />
                <input type="hidden" name="_cc" value="villem@msbs.ee" />
            </div>
            <div class="col-4 col-12-mobilep">
                <input type="submit" value="Saada" class="fit" />
            </div>
        </div>
    </form>

    </div>
</section>