<!DOCTYPE html>
<html>

<head>
  <title>SAP pilvepõhine äritarkvara</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="landing is-preload">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <h1>
        <a href="/">MSBS</a> - SAP äritarkara müük ja konsultatsioon</h1>
      <nav id="nav">
        <ul>
          <li>
            <a href="/">Avaleht</a>
          </li>
          <li>
            <a href="#" class="icon fa-angle-down">Lahendused</a>
            <ul>
              <li>
                <a href="#">Teenused</a>
                <ul>
                  <li>
                    <a href="">Konsultatsioon</a>
                  </li>
                  <li>
                    <a href="#">Arendus</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Tooted</a>
                <ul>
                  <li>
                    <a href="">Cloud ERP</a>
                  </li>
                  <li>
                    <a href="#">Cloud Analytics</a>
                  </li>
                  <li>
                    <a href="#">Hana</a>
                  </li>
                  <li>
                    <a href="#">S4/Hana ERP</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="button">Kontakt</a>
          </li>
        </ul>
      </nav>
    </header>

    {{{body}}}
    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li>
          <a href="#" class="icon fa-twitter">
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon fa-facebook">
            <span class="label">Facebook</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon fa-instagram">
            <span class="label">Instagram</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon fa-github">
            <span class="label">Github</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon fa-dribbble">
            <span class="label">Dribbble</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon fa-google-plus">
            <span class="label">Google+</span>
          </a>
        </li>
      </ul>
      <ul class="copyright">
        <li>&copy; MSBS OÜ. 2018.</li>
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>